
.details-main{
    padding: 2%;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-shadow: 5px 10px 10px 5px #f0ecec;
}
.details-img img{
    object-fit: cover ; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 30vh;
    width: 100%;
    border-radius: 10px;
}
.text-cont{
    text-align: start;
}
.text-cont span{
    font-weight: bold;
    
}