
.main-div{
margin: 2%;
align-items: center;
display: flex;
}
.child-div{
    margin: 3%;
}
.choose-text{
    text-align: start;
    margin-left: 4%;
}
h1{
    margin-top: 6%;
}
@media only screen and (max-width:576px) {
    .main-div{
        margin: 2%;
        align-items: center;
        display: block;
        }
        .child-div{
            margin: 3%;
        }
        .choose-text{
            text-align: start;
            margin-left: 4%;
        }
        h1{
            margin-top: 6%;
        }
}