

.logins{
    position: relative;
    }
    .logins img{
        width: 100%;
        
        /* height: 700px; */
    }
    .forms-types{
        margin-left: 36%;
        color: rgb(255, 255, 255);
        background-color: rgba(194, 196, 196, 0.086);
        position: absolute;
        top: 0;
        border: 1px solid rgba(186, 178, 178, 0.088);
        width: 30%;
        border-radius: 8px;
        
    }




/*  */
/* Responsive */
@media only screen and (max-width:576px) {
    .logins img{
        width: 100%;
        height: 500px;
    }
    .forms-types{
        width: 60%;
        margin-left: 20%;
    }
}