
.brand{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 5%;
    /* box-shadow: 5px 10px 10px 5px; */
    
}
.brand img{
    height: 100px;
    
     object-fit: scale-down;
}
.brand-cards{
    border: 0;
    box-shadow: 5px 10px 10px 5px #f8f6f6;

    
}