

.google-login{
    border-radius: 5px;
    color: white;
    font-weight: 900;
    background-color: rgba(232, 232, 232, 0.044);
    border: 1px solid rgb(88, 89, 90);
}
.google-login:hover{
    background-color: white;
    color: black;
}
.google-login img{

    width: 12% !important;
    
    /* border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */
}

@media only screen and (max-width:576px) {
    .google-login{
        border-radius: 8px;
       
        color: white;
        font-weight: 900;
        background-color: rgba(232, 232, 232, 0.044);
        border: 1px solid rgb(6, 137, 252);
    }
    .google-login img{
    
        height: 13%;
        
        /* border-top-left-radius: 8px;
        border-bottom-left-radius: 8px; */
    }
}
